<section>
   <h1 class="MenuPage-title">Menu</h1>
  <%= form_with(url: menu_categories_path, method: :post, class: "Addmenucategory") do %>
   <%= text_field_tag :name, nil, placeholder: "Add category", autofocus: "autofocus" %>
   <%= submit_tag "Add", class: "AddMenucategory-submit" %>
   <% end %>
</section>
<%= render partial: "menucategories-section" %>
