<div style="margin-left:-10%;margin-top:-10%;padding:0;height:100%;width:111%;background-image:url('restaurent1.jpg');background-size: cover;">
  <div style="margin-left:350px;position:absolute;margin-top:250px">
      <h1 class="Home-title" style="font-size:98px" >Dash of Heaven</h1>
      <h3 class="Home-authenticate">
         If you are a new user,<%= link_to "sign up here", new_user_path %>
      </h3>
      <h3 class="Home-authenticate">
         If you are a existing user,<%= link_to "sign-in here", new_sessions_path %>
      </h3>
      </div>
</div>
