.modal-backdrop.show {
  opacity: 0;
  z-index: 1;
  width: 100%;
}

.exampleModal {
  position: absolute;
  left: 50%;
}

// #cart_display {
//   // margin-left:50px;
//   position: fixed;
//   top: 40px;
//   right: 0;
// }
